<!DOCTYPE html>
<html>
    <head>
        <title>my page</title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form action="/" enctype = "multipart/form-data" method="post">
            <h1>look at the staff</h1>
            <input type="text" name="key" placeholder ="key" class ="form-control"/>
            <input type="text" name="plainText" placeholder = "plain text" class= "form-control"/>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </body>
</html>